<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <title>SUNNY GIRISH BAJAJ</title>
  </head>
  <body>
    <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
      <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
          STATIC FLOW ENTRIES 
        </h1>
      </div>
    </header>      

    
    <a href="/Home" class="btn btn-primary">Click here to go to Home Page</a>

  </body>
</html>
    